.autor-section_image{
    width: 140px;
    border-radius: 50%;
}

.principal-image_img{
    background-position: relative;
    width: 100vw;
    height: 300px;
    margin-top: 64px;
    object-fit: cover;
}